@function vw($size) {
  @return 100vw * $size / 375;
}
@keyframes cl-Loading-animation {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    transform: scale3d(1, 0.2, 1);
    opacity: 0.1;
  }
}
.cl-Loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cl-Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: vw(60);
  height: vw(60);
  border-radius: vw(5);
  @media screen and (min-width: 576px) {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
}

.cl-Loading-container {
  font-size: 0;
  span {
    display: inline-block;
    background-color: #fff;
    width: vw(2);
    height: vw(24);
    margin-right: vw(4);
    border-radius: vw(1.5);
    @media screen and (min-width: 576px) {
      width: 2px;
      height: 24px;
      margin-right: 4px;
      border-radius: 1px;
    }
    animation: cl-Loading-animation 500ms linear infinite alternate;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2) {
      animation-delay: 100ms;
    }
    &:nth-child(3) {
      animation-delay: 200ms;
    }
    &:nth-child(4) {
      animation-delay: 300ms;
    }
    &:nth-child(5) {
      animation-delay: 400ms;
    }
    &:nth-child(6) {
      animation-delay: 500ms;
    }
  }
}
