@function vw($size) {
  @return 100vw * $size / 375;
}
@keyframes cl-Loading-wave-animation {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    transform: scale3d(1, .1, 1);
    opacity: 0;
  }
}
@keyframes cl-Loading-helix-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes cl-Loading-dotted-animation {
  from {
    transform: scale3d(1.2, 1.2, 1);
    opacity: 1;
  }
  to {
    transform: scale3d(0.5, 0.5, 1);
    opacity: 0.2;
  }
}

.cl-Loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cl-Loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: vw(90);
  min-height: vw(90);
  border-radius: vw(10);
  @media screen and (min-width: 576px) {
    min-width: 90px;
    min-height: 90px;
    border-radius: 10px;
  }
}
.cl-Loading-hint {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: vw(12);
  margin-top: vw(10);
  @media screen and (min-width: 576px) {
    font-size: 12px;
    margin-top: 10px;
  }
}

.cl-Loading-wave-container,
.cl-Loading-dotted-container {
  font-size: 0;
  transform: rotate(180deg);
  display: inline-block;
}
.cl-Loading-wave-item {
  $duration: 400ms;
  $count: 6;

  display: inline-block;
  width: vw(2);
  height: vw(18);
  margin-right: vw(4);
  border-radius: vw(1);
  @media screen and (min-width: 576px) {
    width: 2px;
    height: 18px;
    margin-right: 4px;
    border-radius: 1px;
  }
  animation: cl-Loading-wave-animation #{$duration} linear infinite alternate;
  &:last-child {
    margin-right: 0;
  }
  @for $i from 2 through $count {
    &:nth-child(#{$i}) {
      animation-delay: -$duration / $count * ($i - 1);
    }
  }
}

.cl-Loading-helix-container {
  display: inline-block;
  font-size: 0;
  width: vw(26);
  height: vw(26);
  @media screen and (min-width: 576px) {
    width: 26px;
    height: 26px;
  }
  position: relative;
}
.cl-Loading-helix-item {
  $duration: 700ms;
  $count: 12;

  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  @for $i from 2 through $count {
    &:nth-child(#{$i}) {
      transform: rotate(360deg / $count * ($i - 1));
    }
  }

  @for $i from 2 through $count {
    &:nth-child(#{$i}) .cl-Loading-helix-itembar {
      animation-delay: -$duration + $duration / $count * ($i - 1);
    }
  }
}
.cl-Loading-helix-itembar {
  $duration: 700ms;
  display: block;
  margin: 0 auto;
  animation: cl-Loading-helix-animation #{$duration} linear infinite;
  width: vw(2);
  height: vw(7);
  border-radius: vw(1);
  @media screen and (min-width: 576px) {
    width: 2px;
    height: 7px;
    border-radius: 1px;
  }
}

.cl-Loading-dotted-item {
  $duration: 400ms;
  $count: 3;

  display: inline-block;
  font-size: 0;
  width: vw(8);
  height: vw(8);
  margin-right: vw(5);
  @media screen and (min-width: 576px) {
    width: 8px;
    height: 8px;
    margin-right: 5px;
  }

  border-radius: 50%;
  animation: cl-Loading-dotted-animation $duration ease infinite alternate;
  &:last-child {
    margin-right: 0;
  }
  @for $i from 2 through $count {
    &:nth-child(#{$i}) {
      animation-delay: -$duration / $count * $i;
    }
  }
}
