.ScrollView {
  height: 400px;
  background-color: #f4f5f6;
  padding: 0 0.1rem;
  border: 1px solid #000;
  .content {
    height: 500px;
    background-image: linear-gradient(to top, #fff, green);
  }
}
