  
.backHome {
  padding: 0.15rem;
  border-bottom: 1px solid #ccc;
}
.Home {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .item,
  .item-disable {
    font-size: 0.18rem;
    padding: 0.1rem 0.15rem;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    svg {
      width: 0.24rem;
      position: absolute;
      top: 50%;
      right: 0.15rem;
      transform: translateY(-50%);
    }
  }
  .item-disable {
    color: #ddd;
    svg {
      path {
        fill: #ddd;
      }
    }
  }
  .item {
    svg {
      path {
        fill: #666;
      }
    }
    &:active {
      color: #007bff;
      opacity: 0.5;
      svg path {
        fill: #007bff;
      }
    }
  }
}
.demo {
  padding: 0.15rem;
}