.RollingNoticeItem {
  font-size: 0.16rem;
  line-height: 0.36rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 .1rem;
  &:nth-child(1) {
    font-weight: bold;
  }
  &:nth-child(3) {
    font-weight: italic;
  }
  &.RollingNoticeItemActive {
    color: blue;
  }
}
